*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container img{
    width: 30px;
    height: 30px;
}

.exploreBtn{
  background-color: blueviolet;
  color: white;
  margin-left: 5%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.my-border{
  border: solid ;
  border-color: grey;
  border-width: 1px 0px 1px 0px;

}


.bg-custom{
  background-color: #85d1a0;
  color: white;
}

.btn-custom{
  background: blueviolet;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  color: white;
}

ul{
  list-style: none;
}

.hover-custom:hover{
  background-color: blueviolet;
  color: white;
}

.section-bg{
  background-color: #f9f7ff;
}

.bg-footer{
  background-color: blueviolet;
}